/*Reset CSS*/
html {
	box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif; 
   background-color: #110D0C;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #333333;
}


ol, ul {
  list-style: none;
}

img {
 width: 100%;
  height: auto;
}

a{
	text-decoration: none;
}

a, button{
	cursor: pointer;
}

p, h1, h2, h3{
		color: white;
}

h1, h2, h3{
	text-transform: uppercase;
}

h1, h2{
	margin: 15px 0px;
	font-size: 2em
}

h3{
	margin: 15px 0px;
	font-size: 1.5em
}

.synopsisTitle h2{
	margin-left: 20px;
	font-size: 2.5em;
}

p{
	font-size: 1em;
}
.wrapper{
	max-width: 1280px;
	margin: 0 auto;
}

main{
	margin: 0px 75px;
}

.header{
	height: 380px;
	background-image: url("https://storage.googleapis.com/caraimgs/mandoheader.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.cover img{
	width: 300px;
	margin-top: -70%;
}
.synopsisHeader{
	display: flex;

}

.characters{
	padding-top: 30px;
}

.charactersMain{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 60px;
grid-row-gap: 30px;
padding-top: 15px;
}

.characterImg img{
	object-fit: contain;
	width: 150px;
}

.characterInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px;
}

.character{
	display: flex;
}

.character h3{
	margin: 5px 0px;
}
.synopsis a,
.characterInfo a,
.likeFunction button{
	color: #FE9744;
	transition: .3s;
}
.synopsis a:hover,
.characterInfo a:hover,
.likeFunction button:hover{
	color: #FCCD43;
	opacity: 1;
}
.synopsis a:active,
.characterInfo a:active,
.likeFunction button:active{
	color: #FF5555;
}

.synopsisTitle{
	text-align: center;
}
.synopsisTitle img{
	width: 80%;
}
.readMore a{
	text-decoration: underline;
	color: #B69C85;
	font-size: .8em;
}

.likeFunction{
	margin: 20px 0px;
}

.likeFunction p{
	margin:10px;
}
.likeFunction input{
	border-style:none;
	outline: none;
	background-color:#110D0C;
	border-radius: 10px;
	height:35px;
	width: 35px;
	cursor: none;
	color: white;
	font-size: 1.2em;
	padding: 10px;
	margin-bottom: 20px;
}

.likeFunction button{
	background-color: transparent;
	border:none;
}

.likeFunction i{
	font-size: 3em;
}


.commentSection{
	margin: 60px 0px;
}

.commentForm{
	display: flex;
	flex-direction: column;
	width:350px;
}

.commentForm button{
	border: 1px solid white;
	width: 75px;
	height: 30px;
	margin-top: 20px;
	background-color: #FE9744;
	transition: .5s;
	border-radius: 5px;
	color: white;
	font-weight: bold;

}

.commentForm button:hover{
	background-color: #FCCD43;
	opacity: 1;
}

.commentForm button:active{
	background-color: #FF5555;
}

.commentSubmission{
	padding-bottom: 60px;
}
.userComment{
	width: 350px;
	margin: 20px 0px 10px 0px;

}

.userComment .comment{
		border: 1px solid grey;
}

.comment{

}
.commenter{
	margin-bottom: 10px;
	font-weight: bold;
}

.commentForm input,
.commentForm textarea,
.commentForm select{
	margin: 5px 0px;
}

.commentDisplay img{
	width: 65px;
	height: 65px;
	border-radius: 5px;
}

.commentDetails{
	display: flex;
}

.userDetails{
	padding: 10px;

}

.userDetails h4{
	color: white;
	font-size: 1.2em;
}

.userDetails p{
	font-size: .9;
	color: #B69C85;
}

.comment p{
	background-color: white;
	color: black;
	padding: 10px;
}


@media only screen and (max-width: 1249px) {
	.charactersMain{
		grid-column-gap: 30px;
	}
}

@media only screen and (max-width: 1140px) {
	body{
		font-size: .9em;
	}
	.charactersMain{
		grid-column-gap: 30px;
	}
}

@media only screen and (max-width: 1090px) {
	.charactersMain{
		grid-column-gap: 30px;
	}
		.cover img{
		width: 225px;
		margin-top: -150px;
	}

}

@media only screen and (max-width: 900px) {
	.header{
	height: 190px;
	}


	body{
		font-size: .8em;
	}

	.cover img{
		width: 195px;
		margin-top: -125px;
	}

	.synopsisTitle h1{
		font-size: 1.5em;
	}

	h2{
		font-size: 1.7em;
	}
	.characterImg img{
		width: 150px;
	}

	.charactersMain{
	grid-template-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 15px;
	}

	.characterImg img{

		width: 100px;
	}

	.commentSection{
		margin: 30px 0px;
	}
}

@media only screen and (max-width: 700px) {
	h2{
		margin: 8px 0px;
	}

	body{
		font-size: .7em;
	}

	.character h3{
		font-size: 1em;
	}

	.cover img{
		width: 175px;
		margin-top: -125px;
	}
	.main{
		margin: 0px 10px;
	}
	.characterImg img{
		width: 100px;

	}

	.characterInfo{
		padding: 5px;
	}

}

@media only screen and (max-width: 600px) {
	.cover img{
		width: 150px;
		margin-top: -100px;
	}


}

@media only screen and (max-width: 500px) {
	.userComment {
    	margin: 10px 0px 5px 0px;
    }	

	.userComment,
	.commentForm{
		width: 100%;
	}
}



